{% extends 'whatsmeme/index.html' %} {% load crispy_forms_tags %} {% block precontent %}
<h1>Create A Meme </h1> {% endblock %} {% block content %}
<div class="container">
    <div class="row login  justify-content-center">
        <div class="col-md-8">
            
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %} {{form|crispy}}
                <input class='btn btn-block btn-success' value="create" type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block postcontent %} {% endblock %}