body{
    font-family: 'Nunito', sans-serif;
}



.brand{
    font-family: 'Chela One', cursive;

}
    
.login .btn-success,.signup .btn-success{
    height: 60px !important;
    background: linear-gradient(to right,#189e1c,#ffffff);
}    
    
#mynav{
    background: linear-gradient(to right,#189e1c,#ffffff);
    position: fixed;
    left:0;
    top:0;
    z-index:1;
    width:100%;
    
}

.card-icon{
    float:left;
}


.login .card,.signup .card{
    color:#11dc11;
    /*border:solid 1px #1d971d;*/
    padding:1em;

    marging-bottom:2em;
    
    
}


.card img{
    width: 100%;
    height:auto;
    
    
    
}






#meme-card{
    
    background: linear-gradient(to right,#189e1c,#ffffff);
}

.spacer{
    width:100%;
    height:60px;
}

