{% extends "whatsmeme/index.html" %}
{% load crispy_forms_tags %}
{% block forms %}
<div class="container" >
	<div class="row justify-content-center">
		<div class=" my-4 col-md-8">
			<div class="my-2 text-center"><h2>Create a Clipboard</h2></div>
			<div class="card p-2"  >
			<form method="POST" enctype="multipart/form-data" >
				{% csrf_token %}
				
				{{form|crispy}}
				
				<input type="submit"  value="create" class="btn btn-primary" >
			</form>
				
				
				
			</div>
		</div>
		
		
		
		
	</div>
	
	
	
</div>



{% endblock %}

